*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body{
    align-items: center;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 1px;
}
nav{
	height: 15vh;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
.nav-bar{
	height: 15vh;
	background-color: white;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 10%;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	width: 100%;
}
nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}
nav ul li{
	margin: 0 0.5rem;
	cursor: pointer;
	font-size: 1.2rem;
	letter-spacing: 1px;
	color: #000;
}
nav ul li.selected{
	color: blue;
}
nav img{
	width: 40px;
	display: none;
}
nav ul li::after{
	content: "";
	width: 0%;
	height: 2px;
	background: blue;
	display: block;
	margin: auto;
	transition: 0.5s;
}
nav ul li:hover::after{
		width: 100%;
	}
.nameHead{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: flex-start;
}
.titleContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}
.titleContainer .square{
	width: 20px;
	height: 20px;
	background-color: blue;
	margin-right: 0.5rem;
}
.titleContainer h3{
	font-weight: bold;
	font-size: 2rem;
	padding-bottom: 0.25rem;
}
.nameHead .designation{
	font-weight: lighter;
	font-size: 1.2rem;
	align-self: center;
	line-height: 2rem;
	margin-left: 0.5rem;
	letter-spacing: 1px;
}
.nameHead .designation::before{
	content: "/";
	font-weight: 500;
	padding-right: 0.25rem;
}
.home{
	display: flex;
	padding: 10%;
	width: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #e6dace 0%,#e6dace 40%,#e6dace 40%,#fff 40%,#fff 100%);
}
.hidden_desc{
	display: none;
}
.middle{
	width: 800px;
	position: relative;
	display: flex;
}
.intro h1{
	font-size: 8rem;
	font-weight: 900;
}
.btnHide{
	display: none;
}
.intro h6{
	font-size: 1.8rem;
	font-weight: 500;
}
.intro>*{
	margin: 0 2rem;
}
button{
	display: inline-block;
	width: 120px;
	height: 35px;
	padding: 5px 18px;
	text-align: center;
	font-size: 13px;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
}
.resume{
	background-color: blue;
	border: 2px solid blue;
	color: white;
}
.resume:hover{
	background-color: transparent;
	color: black;
}
.project{
	background-color: white;
	border: 2px solid black;
	color: black;
}
.project:hover{
	background-color: blue;
	border: 2px solid blue;
	color: white;
}
.profile{
	width: 60%;
	background-color: #F4ECE6;
	text-align: center;
	box-shadow: -16px 16px 17px 0 rgba(0, 0, 0, 0.199);
}
.profile img{
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	margin-top: 50px;
	
}
.proName{
	font-size: 30px;
}
.proDesignation{
	font-size: 25px;
}
.line{
	border-bottom: 2px solid blue;
	width: 20%;
	margin: 0 auto;
}
.profile .social{
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-size: 1.8rem;
}
.fab{
	cursor: pointer;
	padding: 1rem;
	color: black;
}
.para{
	max-width: 25vw;
}
.footer{
	display: flex;
	background-color: white;
	margin-bottom: 0;
	min-height: 15vh;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	z-index: 10;
}
.sign{
	font-size: 1.5rem;
}
.contacts{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	font-size: 15px;
}
.contacts>*{
	margin: 0 1rem;
}
.contacts h6{
	font-size: 1.2rem;
}
.contacts .fab{
	padding: unset;
}
.contacts div a{
	color: black;
	text-decoration: none;
}
.hidden_desc{
	display:none;
	visibility:hidden;
}
.res{
	background-color: #e6dace;
	width: 100%;
	align-items: center;
	position: relative;
	text-align: center;
	align-content: center;
	padding: 10% 0;
}
.res h1{
	font-size: 3rem;
}
.res .experience{
	max-width: 45%;
	margin: auto;
}
.res .experience .cv{
	margin: 1.5rem 0;
	display: flex;
	align-items: center;
	max-width: 100%;
	justify-content: space-between;
}
#cv{
	width: 150px;
	padding: 6px 15px;
}
.infoCard{
	max-width: 100%;
	margin: auto;
	max-height: 30%;
	display: flex;
	background-color: white;
	box-shadow: 0 0 17px 16px rgba(0, 0, 0, 0.096);
}
.infoCard .leftInfo{
	margin: 0;
	min-width: 40%;
	display: flex;
	flex-direction: column ;
	padding: 40px;
	padding-top: 70px;
	text-align: left;
}
.infoCard .rightInfo{
	margin: 0;
	max-width: 60%;
	margin-top: 20px;
	padding: 40px;
	padding-top: 75px;
	text-align: left;
}
.infoCard .leftInfo h3{
	color: blue;
}
.infoCard p{
	font-size: 17px;
}
form{
	width: 90%;
	margin: auto;
}
.nameContainer{
	display: flex;
	justify-content: space-between;
}
.nameLabel{
	margin: 25px;
	text-align: left;
}
input, textarea{
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	color: blue;
	font-size: 17px;
	padding: 10px;
	padding-left: 15px;
	resize: none;
}
input:hover, textarea:hover{
	border-bottom: 3px solid blue;
}
.skillContainer{
	padding: 40px;
	padding-top: 70px;
	text-align: left;
	width: 100%;
}
.skills{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skills .titleContainer{
	width: 50%;
	justify-content: left;
	margin: 8px 0;
}
.skills .square{
	width: 10px;
	height: 10px;
	flex-shrink: 0;
	align-self: flex-start;
	margin-top: 0.5rem;
}
.proImg{
	width: 100%;
}
.proImg h3{
	text-align: left;
	padding-left: 25px;
	margin-top: 70px;
	border-left: 15px solid blue;
}
.proImg img{
	margin: 20px;
	width: 80%;
	border: 1px solid blue;
	padding: 5px;
}
.proImg img:hover{
	box-shadow: 0 0 17px 16px rgba(34, 34, 179, 0.305);
}

@media screen and (max-width: 1025px) {
	.nav-bar{
		padding: 0 5%;
	}
	.footer{
		padding: 0 5%;
	}
	.res .experience{
		max-width: 65%;
	}
}

@media only screen and (max-width: 380px){
	.home{
		padding: 10% 0;
	}
	.middle{
		width: 95%;
	}
	nav .titleContainer h3{
		font-size: 1.5rem;
	}
	nav .designation{
		font-size: 1rem;
	}
}
@media only screen and (max-width: 770px) {
	nav img{
		display: block;
	}
	.nameHead{
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.nameHead .designation{
		align-self: unset;
	}

	#menu{
		position: absolute;
		top: 0;
		left: -100%;
		padding: 15vh 0;
		height: 100vh;
		width: 100%;
		background: #F4ECE6;
		transition: all 0.8s ease;
	}
	nav ul{
		display: block;
		text-align: center;
	}
	nav ul li{
		font-size: 30px;
		margin: 20px 0;
		font-weight: 600;
	}
	nav ul li:hover::after{
		width: 0;
	}
	#closeBtn{
		position: absolute;
		z-index: 10;
		top: 15px;
		right: 5%;
	}
	.home{
		background: linear-gradient(to top, #e6dace 0%,#e6dace 70%,#e6dace 70%,#fff 70%,#fff 100%);
	}
	.middle{
		display: block;
	}
	.profile{
		width: 100%;
	}
	.profile img{
		margin-top: 50px;
	}
	.proDesignation{
		display: none;
	}
	.btnHide{
		display: block;
	}
	.btn{
		display: none;
	}
	.para{
		max-width: 100%;
		margin-top: -40px;
	}
	.footer{
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.contacts{
		text-align: left;
		align-items: flex-start;
		flex-direction: column-reverse;
	}
	.sign{
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
	.contacts>*{
		margin: 1rem 0;
	}
	.res{
		margin-top: 0;
	}
	.res h1{
		font-size: 50px;
	}
	.res .experience .cv{
		margin: 50px 0;
	}
	.res .experience{
		max-width: 90%;
	}
	.infoCard{
		display: block;
	}
	.infoCard .rightInfo{
		margin-top: 0;
		padding-top: 0;
		max-width: 100%;
	}
	form{
		width: 90%;
		padding: 10px;
	}
	.nameContainer{
		display: block;
	}
	.skills .titleContainer{
		width: 100%;
	}
	.skillContainer h2{
		font-size: 29px;
	}
	
}